body, html, * {
    margin: 0;
}

h1, h2 {
    padding: .25em;
}

p {
    line-height: 1.25em;
}

header {
    min-height: 2em;
    background-color: #333333;
    width: 80%;
    margin: 0 auto;
    padding: .5em;
}

header h1 {
    color: #ffffff;
}

#front-page {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding: .5em;
}

#front-page header {
    background-color: #ffffff;
    margin: 0;
    width: 100%;
}

footer {
    min-height: 1.5em;
    background-color: #333333;
    width: 80%;
    margin: 0 auto;
    padding: .5em;
}